.wrapper {
    padding-block: 50px;

    .inner {
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;

        .title {
            font-size: 72px;
            text-align: center;
            font-weight: 700;

            span[data-accent="true"] {
                color: var(--accent-color)
            }

            color: var(--dark-color)
        }

        .content {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        padding-block: 24px;
        .inner {
            gap: 28px;

            .title {
                font-family: Montserrat;
                font-weight: 700;
                font-size: 36px;
                line-height: 100%;
                letter-spacing: -2%;
                text-align: center;
            }
        }
    }
}

.backBtn {
    height: fit-content;
    display: inline-flex;
    align-self: center;

    svg {
        width: 32px;
        height: 32px;
    }
}
