.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-inline: 140px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
