.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-inline: 140px;

    @media screen and (max-width: 1200px) {
        padding-inline: 80px;
    }

    @media screen and (max-width: 768px) {
        padding-inline: 20px;
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
}
