.content {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;

    .card {
        max-width: calc(100% / 3 - 20px) !important;
        height: 100%;
    }

    @media screen and (max-width: 1200px) {
        .card {

            max-width: calc(100% / 2 - 20px) !important;
        }
    }

    //@media screen and (max-width: 790px) {
    //    .card {
    //        max-width: 100% !important;
    //    }


    @media screen and (max-width: 890px) {
        gap: 10px;
        .card {
            max-width: calc(100% / 2 - 5px) !important;

        }
    }

    @media screen and (max-width: 578px) {
        .card {
            max-width: 100% !important;
        }
    }
}
