.layout {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding) var(--container-padding) 0;
    max-width: 1680px;
    margin: 0 auto;
    min-height: 100vh;
    height: auto;

    .content {
        flex: 1 0 auto;
    }

    @media screen and (max-width: 568px) {
        --container-padding: 10px;
    }
}
