.input {
    padding: 13px 20px;
    border-radius: 65px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: var(--dark-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    &::placeholder {
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: rgba(68, 68, 68, 0.5);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    p {
        color: red;
        font-weight: 400;
        font-size: 14px;
    }
}
