.wrapper {
    position: relative;
    display: inline-block;


}

.body {
    position: absolute;
    background: white;
    box-shadow: 0px 0px 15.9px 0px rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 16px;
}
