.cards {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    .card, .lastItem {

        //aspect-ratio: 3 / 4;
        max-width: calc(100% / 4 - 20px) !important;
    }

    .lastItem {
        height: 541px!important;
    }

    @media screen and (max-width: 1280px) {
        .card, .lastItem {
            max-width: calc(100% / 2 - 12px) !important;
        }
    }

    gap: 20px;

    @media screen and (max-width: 768px) {
        gap: 10px !important;
        .card, .lastItem {
            max-width: calc(100% / 2 - 5px) !important;
        }

        .lastItem {
            padding: 20px !important;
        }
    }

    @media screen and (max-width: 560px) {
        gap: 10px !important;
        .card, .lastItem {
            max-width: 100% !important;
        }

        .lastItem {
            height: 300px !important;
        }

    }

    .card {
        h6 {
            word-break: break-all;
        }

    }

    .lastItem {
        background-color: var(--secondary-color);
        padding: 24px 24px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        height: 100%;
        gap: 20px;

        h6 {
            hyphens: auto;
        }


        .lastTop {
            gap: 16px;
            display: flex;
            flex-direction: column;

            & > h6 {
                font-weight: 700;
                font-size: 32px;
                line-height: 100%;
            }

            & > p {
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
            }

            @media screen and (max-width: 768px) {
                & > h6 {
                    font-weight: 700;
                    font-size: 20px !important;
                    line-height: 110.00000000000001% !important;
                    letter-spacing: -2%;
                }

                & > p {
                    font-size: 16px;
                }
            }
        }
    }
}
