.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    width: 100%;
    margin-bottom: 16px;

    .card {
        & > div {
            height: 100%;
        }
    }

    .cardContent {
        flex: 1;
        padding-bottom: 24px;

        & > p {
            flex: 1;
        }
    }

    .cardBottom {
        padding-block: 48px 0 !important;
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;

        .cardBottom {
            button {
                padding-block: 10px;
            }

            height: fit-content;
            align-content: flex-end;
            padding-block: 0 !important;
        }

    }

}
