.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;

    svg {
        width: 24px;
    }

    p {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
    }
}
