.section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;

    .filters {
        height: fit-content;
        width: 350px;
        position: sticky;
        top: 130px;
        min-width: 350px;
    }

    @media screen and (max-width: 890px) {
        flex-direction: column;

        .filters {
            position: relative;
            top: 0;
            width: 100%;
        }
    }
}

.inner {
    & > h2 {
        width: 100%;
        text-align: left !important;
        padding-left: 350px;
    }

    @media screen and (max-width: 890px) {

        & > h2 {
            padding-left: 0 !important;

        }
    }
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .card {
        max-width: calc(100% / 3 - 20px) !important;
        height: 100%;
    }

    @media screen and (max-width: 1400px) {
        .card {

            max-width: calc(100% / 2 - 20px) !important;
        }
    }

    @media screen and (max-width: 1200px) {
        .card {
            max-width: 100% !important;
        }
    }

    @media screen and (max-width: 890px) {
        gap: 10px;
        .card {
            aspect-ratio: 300/500;
            max-width: calc(100% / 2 - 5px) !important;

        }
    }

    @media screen and (max-width: 374px) {
        .card {
            aspect-ratio: 300/370;
            max-width: 100% !important;
        }
    }
}

.mobileFilters {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    left: 0;
    overflow: auto;
    z-index: 999;
    top: 0;

    .filters {
        height: 100%;
        width: 100%;
        padding-top: 0;
    }

    .filtersTop {
        display: flex;
        padding: 28px 24px;
        justify-content: space-between;
        align-items: center;


        p {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            color: var(--accent-color)
        }
    }
}

.filtersBtn {
    display: flex;
    align-items: center;
    gap: 6px;

    p {
        color: rgba(68, 68, 68, 1);
        font-family: Montserrat;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;

    }
}

.counter {
    background: var(--accent-color);
    color: white;
    font-size: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
