.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 20px;


    .mainImg {
        width: 100%;
        aspect-ratio: 720 / 785;
        border-radius: 40px;
        overflow: hidden;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        border-radius: 40px;
        padding: 40px 30px;
        display: flex;
        height: 100%;
        flex-direction: column;
        background: var(--accent-color);
        justify-content: space-between;

        .top {
            display: flex;
            flex-direction: column;
            gap: 60px;
            align-items: flex-start;

            & > div {
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: flex-start;

                h6 {
                    color: rgba(255, 235, 59, 1);
                    font-weight: 700;
                    font-size: 24px;
                }

                .group {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: flex-start;

                    p {
                        color: white;
                        font-weight: 700;
                        font-size: 32px;

                        @media screen and (max-width: 796px) {
                            font-family: Montserrat;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 100%;
                            letter-spacing: 0%;
                        }
                    }
                }
            }
        }

        .links {
            display: flex;
            align-items: center;
            gap: 32px;


            @media screen and (max-width: 796px) {
                gap: 8px;

                svg {
                    height: 50px;
                    width: 50px
                }
            }
        }
    }

    @media screen and (max-width: 1180px) {
        gap: 8px;
        display: flex;
        flex-direction: column-reverse;

        .mainImg {
            aspect-ratio: 300 / 200;
            border-radius: 20px;
        }

        .info {
            border-radius: 20px;
            padding: 28px 24px;

            .top {
                gap: 24px !important;
                padding-bottom: 64px;
            }

        }
    }
}
