.wrapper {
    padding: 14px 24px;
    position: sticky;
    top: var(--container-padding);
    z-index: 9;
    display: grid;
    grid-template-columns: 64px 1fr 204px;
    align-items: center;

    background: var(--secondary-color);
    border-radius: 40px;
    gap: 20px;

    .helpLink {
        text-decoration: none !important;
    }

    .navigation {
        overflow: auto;
        display: flex;
        align-items: center;
        gap: 33px;
        scrollbar-width: none;

        a {
            text-decoration: none;
            color: var(--dark-color);
            white-space: nowrap;
            font-size: 16px;
            font-weight: 400;
            transition: 0.3s ease;
        }
    }

    .headerBtn {
        color: var(--light-text-color);
        font-family: Montserrat;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;

    }

    @media screen and (max-width: 768px) {
        display: flex;
        padding: 4px 5px;
        border-radius: 20px;
        justify-content: space-between;

        .headerBtn {
            padding: 7.5px 20px !important;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.burger {
    width: fit-content;
    position: relative;
    z-index: 99;
}

.rest {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
}

.logo {
    position: relative;
    z-index: 99;

    @media screen and (max-width: 768px) {

        svg {
            width: 34px;
            height: 30px;
        }
    }

}

.burgerWrapper {
    position: fixed;
    z-index: 95;
    left: 0;
    top: 0;
    background-color: var(--secondary-color);
    width: 100vw;
    height: 100vh;

    .burgerInner {
        padding-top: 80px;
        display: flex;
        padding-inline: 20px;
        height: 100%;
        overflow: scroll;
        scrollbar-width: thin;
        padding-bottom: 20px;

        .navigation {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
