.wrapper {
    padding: 14px 24px;

    display: grid;
    grid-template-columns: 64px 1fr 204px;
    align-items: center;

    background: var(--secondary-color);
    border-radius: 40px;
    gap: 20px;

    .helpLink {
        text-decoration: none!important;
    }

    .navigation {
        overflow: auto;
        display: flex;
        align-items: center;
        gap: 33px;
        scrollbar-width: none;

        a {
            text-decoration: none;
            color: var(--dark-color);
            white-space: nowrap;
            font-size: 16px;
            font-weight: 400;
            transition: 0.3s ease;
        }
    }

    .headerBtn {
        color: var(--light-text-color);
    }
}
