.newWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

.mobileTitle {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;

    button {
        height: fit-content;
        display: flex;
    }

}

.contentWrapper {
    strong {
        font-weight: 700
    }

    a {
        color: var(--accent-color);
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
        }
    }

    ol {
        list-style-type: decimal;
        padding-left: 20px;
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
        }
    }

    em {
        font-style: italic;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }
}
