@use '@scss/mixins' as *;

.newWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

.mobileTitle {
    margin-bottom: 16px;
}

.contentWrapper {
    @include marking();
}
