@use '@scss/mixins' as *;

.info {
    background-color: rgba(220, 218, 255, 1);

    .progress {
        margin-top: 45px;

        .progressBottom {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 12px;
            justify-content: space-between;

            .date {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h6 {
                    color: var(--accent-color);
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 100%;
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 100%;
                }
            }
        }

        @media screen and (max-width: 768px) {
            margin-top: 20px;

            .date {
                h6 {
                    font-size: 16px !important;
                }

                p {
                    font-size: 14px !important;
                }
            }
        }
    }
}


.bottomContent {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    gap: 50px;

    .group {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h6 {
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
            color: var(--accent-color)
        }
    }

    @media screen and (max-width: 768px) {
        gap: 32px;
        padding: 24px 10px;

        .group {
            h6 {
                font-size: 20px;
            }
        }
    }
}

.spending {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .details {
        @include marking();
        margin-bottom: 24px;

        h1, h2, h3 {
            color: var(--accent-color);
            font-weight: 500;
            line-height: 100%;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
        }
    }

    .group {
        margin-bottom: 30px;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        width: 350px;


        .qr {
            width: 350px;
            height: 350px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .qrText {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            text-align: center;

            a {
                text-decoration: underline;
                color: var(--accent-color);
                display: block;
                width: fit-content;
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    @media screen and (max-width: 1080px) {
        .qr {
            width: 260px !important;
            height: 260px !important;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        .right {
            margin-right: 0;
            width: 100%;
            align-items: center;
            text-align: center;

            .qr {
                width: 100%;
                max-width: 250px;
                height: auto;
            }
        }
    }
}
