@mixin marking {
    strong {
        font-weight: 700
    }

    a {
        color: var(--accent-color);
    }

    ul {
        list-style-type: square;
        padding-left: 24px;
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
        }
    }

    ol {
        list-style-type: decimal;
        padding-left: 24px;
        margin-bottom: 20px;

        li {
            &[data-list=bullet] {
                list-style: disc
            }

            &[data-list=ordered] {
                list-style: decimal;
            }

            margin-bottom: 10px;
        }
    }

    em {
        font-style: italic;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    @media screen and (max-width: 768px) {
        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }

        h4 {
            font-size: 16px;
        }

        h5 {
            font-size: 15px;
        }

        h6 {
            font-size: 14px;
        }
    }
}
