:root {
    --secondary-color: #AAE4FF;
    --light-text-color: #FBEFDF;
    --dark-color: rgba(68, 68, 68, 1);
    --layout-color: #F2F2F2;
    --light-accent-color: #DCDAFF;
    --accent-color: #6761CD;
    --success-color: #66BB6A;
    --yellow-color: #FFEB3B;

    --container-padding: 20px;
}
